<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartCarControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SmartCarControl.Properties.Settings>
            <setting name="MovementLeftKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MovementRightKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraUpKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraDownKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraLeftKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraRightKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MovementUpKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MovementDownKey" serializeAs="String">
                <value />
            </setting>
        </SmartCarControl.Properties.Settings>
    </applicationSettings>
</configuration>